/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* root variables */

:root {
    --color-primary: #A10550;
    --color-error: #C30000;
    --color-error-light: #ED2E2E;
    --color-success: #00966D;
    --color-success-light: #00BA88;
    --color-warning: #A9791C;
    --color-warning-light: #F4B740;
    --color-neural-bg: #FAF9F5;
    --color-headings: #000;
    --color-body: #333333;
}


/* mobile first */

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 4rem;
    line-height: 1.5rem;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}

@media screen and (min-width:1000px) {
    body {
        font-size: 1.9rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}


/* buttons */

.btn {
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 1rem 3.8rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #FAF9F5;
}

.btn--secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn--block {
    width: 100%;
    /* 100% of its parent */
    font-size: 1.6rem;
}


/* dEsktop */

@media screen and (min-width:1000px) {
    .btn {
        font-size: 1.6rem;
    }
    .btn--block {
        font-size: 2rem;
    }
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 4rem auto;
}


/* products */

.product__section>h2 {
    text-align: center;
    margin: 3rem 0;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 1.5rem;
    margin: 0 1rem;
}

.product {
    flex: 0 0 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border: 1px solid rgb(187, 180, 180);
}

.products::-webkit-scrollbar {
    display: none;
}

.product:not(:last-child) {
    margin-right: 1rem;
}

.product__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    height: 70%;
    margin: 5px;
}

.product__image>img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product__body {
    padding: 0 1rem;
}

.product__content {
    background-color: #fff;
}

.product__body .product__title {
    color: var(--color-primary);
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin-top: 1rem;
}

.product__body .product__description {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.product__body .product__price {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 1rem;
}

@media screen and (min-width:500px) {
    .products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: inherit;
        padding-bottom: 1.5rem;
    }
    .product {
        flex: 0 0 190px;
    }
    .product:not(:last-child) {
        margin-right: 1rem;
    }
    .products::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: inherit;
        padding-bottom: 1.5rem;
    }
    .product {
        flex: 0 0 220px;
    }
    .product:not(:last-child) {
        margin-right: 1rem;
    }
    .products::-webkit-scrollbar {
        display: none;
    }
}


/* New In  */

.newin {
    background-color: #3D021E;
}

.newin>h4 {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 3rem;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    list-style: none;
    margin: 3rem 4rem;
    /* background-color: #3D021E; */
}

.item {
    flex: 0 0 200px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.item:nth-child(1) {
    color: rgb(255, 255, 255);
}


/* .card {
  
    padding: 1rem;
} */

.card .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    height: 200px;
}

.card__image>img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__body>h4 {
    color: var(--color-primary);
    font-size: 1.2rem;
    margin: 1rem;
}

.card__body>p {
    font-size: 1rem;
    margin: 1rem;
}

.line__slider {
    display: flex;
    justify-content: center;
}

.line {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 1px;
    border-radius: 2px;
    border: 1px solid #FA58A6;
}

.line.active {
    background-color: var(--color-primary);
}

@media screen and (min-width:400px) {
    .line__slider {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        list-style: none;
        margin: 3rem 4rem;
    }
    .flex-container::-webkit-scrollbar {
        display: none;
    }
    .item {
        flex-basis: calc(25% - 10px);
        margin-right: 10px;
        margin-bottom: 4rem;
        margin-top: 3rem;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    .item:nth-child(1) {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;
        color: rgb(255, 255, 255);
    }
    .card .card__image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc(100%);
        height: 65%;
        /* margin: 5px; */
    }
    .card__image>img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .card__body>h4 {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .card__body>p {
        font-size: 1.3rem;
    }
    .line__slider {
        display: none;
    }
}


/* CATEGORIES */

.category>h2 {
    text-align: center;
    font-size: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5 1rem;
}

.category__items.category__item {
    flex-basis: 33%;
    border: 1px solid black;
}

.category__item {
    margin: 1rem;
}

.category__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(90%);
    height: calc(50%);
}

.category__image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category__item .category__title {
    padding-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (min-width:500px) {
    .category__items.category__item {
        flex-basis: 33%;
        border: 1px solid black;
    }
    .category__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(90%);
        height: calc(60%);
    }
    .category__image>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .category__item .category__title {
        text-align: center;
        padding-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:767px) {
    .category__items.category__item {
        flex-basis: 33%;
        border: 1px solid black;
    }
    .category__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(90%);
        height: calc(60%);
    }
    .category__image>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .category__item .category__title {
        padding-top: 1rem;
        font-size: 1.5rem;
    }
}


/* Offers */

.offers {
    display: grid;
    padding: 2rem;
}

.offers>h4 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 1rem;
}

.offers__details {
    padding: 2rem;
}

.offers__details .btn__container {
    text-align: center;
}

.offers .offers__details>h5 {
    display: none;
}

.offers__details .offers__title {
    display: none;
}

.offers .offers__image {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.offers__image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers__details>h6 {
    display: none;
}

.offers__text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.offers__details .btn__container>.btn--desktop {
    display: none;
}

.offers__details .btn__containe>.btn--mobile {
    display: inline-block;
}


/* media queries */

@media screen and (min-width:500px) {
    .offers {
        display: grid;
        padding: 2rem;
    }
    .offers>h4 {
        display: none;
    }
    .offers .offers__image {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 80%;
        height: 80%;
        margin-left: 2.5rem;
    }
    .offers__image>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width:768px) {
    .offers {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-content: center;
        background-color: #FBEFF2;
    }
    .offers>h4 {
        display: none;
    }
    .offers__details {
        padding: 1rem;
    }
    .offers .offers__details>h5 {
        display: inline;
        font-size: 1.5rem;
    }
    .offers__details .offers__title {
        display: block;
        color: var(--color-primary);
        font-size: 2rem;
        margin-top: 1rem;
    }
    .offers .offers__image {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 70%;
        height: 380px;
        margin: 1rem 1rem;
    }
    .offers__image>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .offers__details .btn__container {
        text-align: right;
        margin-top: 6rem;
    }
    .offers__details .btn__container>.btn--mobile {
        display: none;
    }
    .offers__details .btn__container>.btn--desktop {
        display: inline-block;
    }
    .offers__details>h6 {
        display: inline;
        font-size: 1.2rem;
        color: var(--color-primary);
    }
    .offers__text {
        line-height: 30px;
        margin-top: 1rem;
    }
}


/* BLOG */

.blog {
    text-align: center;
}

.text_container {
    display: none
}

.blog>h4 {
    font-size: 1.8rem;
}

.blog__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    /* margin: 1rem 2rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.blog__items .blog__item {
    flex: 0 0 calc(100%);
}

.blog__item:not(:last-of-type) {
    margin-right: 1rem;
}

.blog__image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100%);
    height: calc(90%);
}

.blog__image>img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog__description {
    border: 1px solid rgb(180, 172, 172);
    text-align: left;
    padding-left: 1rem;
}

.blog__description>h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.blog__description>p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.line__slider {
    display: flex;
    justify-content: center;
}

.line {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 1px;
    border-radius: 2px;
    border: 1px solid #FA58A6;
}

.line.active {
    background-color: var(--color-primary);
}

.text__mobile {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--color-primary);
}


/* media queris */

@media screen and (min-width:500px) {
    .text_container {
        display: block;
        text-align: right;
        margin-right: 2rem;
        color: var(--color-primary);
    }
    .text_container>p {
        margin: 2rem;
        font-size: 1.6rem;
    }
    .blog__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        margin: auto 2rem;
    }
    .blog__items .blog__item {
        flex: 0 0 calc(52% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
    .line__slider {
        display: none;
    }
    .text__mobile {
        display: none;
    }
    .blog>h4 {
        font-size: 2rem;
    }
    .blog__description>h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .blog__description>p {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:768px) {
    .text_container {
        display: block;
        text-align: right;
        margin-right: 2rem;
        color: var(--color-primary);
    }
    .text_container>p {
        margin: 2rem;
        font-size: 1.6rem;
    }
    .blog__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
    }
    .blog__items .blog__item {
        flex: 0 0 calc(33.33% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog__image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc(100%);
        height: calc(90%);
    }
    .blog__image>img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    .blog__description {
        overflow: hidden;
        /* white-space: nowrap; */
        /* text-overflow: ellipsis; */
    }
    .blog__description>h2 {
        font-size: 1.8rem;
        padding-top: 1rem;
    }
    .blog__description>p {
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }
    .blog>h4 {
        font-size: 2rem;
    }
}


/* NAVBAR */

.main-header {
    background: linear-gradient(279deg, rgba(2, 0, 36, 0) 0%, rgba(161, 5, 80, 0.1742822128851541) 53%, rgba(161, 5, 80, 0) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2rem 2rem;
    /* gap: 1rem; */
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow-y: visible;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.nav.nav__expanded .nav__list {
    max-height: 100vh;
    margin-top: 4rem;
    opacity: 1;
    background-color: #FAF9F5;
    /* margin: 3rem 2rem; */
    border-top: 1px solid rgb(151, 144, 144);
    /* border-bottom: 1px solid rgb(151, 144, 144); */
}

.nav.nav__expanded {
    background-color: #FAF9F5;
    padding-bottom: 4rem;
}

.nav.nav__expanded .nav__list .nav__item {
    border-bottom: 1px solid rgb(151, 144, 144);
    padding: 1rem 2rem;
}

.nav.nav__expanded .image-container {
    position: absolute;
    top: 0;
    left: 30%;
}

.nav.nav__expanded .icon-container {
    position: absolute;
    top: 5%;
    left: 10%;
    margin: auto 4.2rem;
}

.nav__item {
    margin-bottom: 1.2rem;
    border-bottom: 1px solid rgb(95, 89, 89);
    padding-bottom: 1rem;
}

.nav__item>a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.8rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 7rem;
    height: 50px;
    width: 27px
}


/* .icon-container>img {
    width: 50%;
    height: 50%;
} */


/* .icon-container>img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
} */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.image-container>img {
    display: block;
    object-fit: cover;
}

.vertical-seprator {
    height: 24px;
    width: 2px;
    border: 1px solid rgb(62, 60, 60);
    margin: 6px;
}

.icon-container>p {
    display: flex;
    /* margin: 0.5rem; */
    margin-right: 1rem;
    font-size: 1.2rem;
}

@media screen and (min-width:768px) {
    .main-header {
        background: linear-gradient(279deg, rgba(2, 0, 36, 0) 0%, rgba(161, 5, 80, 0.1742822128851541) 93%, rgba(161, 5, 80, 0) 100%);
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 1rem 1rem;
    }
    .image-container {
        order: 1;
    }
    .nav__list {
        order: 2;
    }
    .icon-container {
        order: 3;
    }
    .nav__toggler {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        opacity: 1;
        max-height: 100%;
        padding-top: 1rem;
    }
    .nav__item {
        margin-left: 2rem;
        margin-bottom: 0;
        /* font-size: 1.6rem; */
        border: 0;
    }
    .nav__item>a {
        font-size: 1.5rem;
        font-weight: 800;
    }
    .icon-container {
        /* position: absolute;
        left: 70%; */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 3rem;
        height: 50px;
        width: 27px
    }
    .icon-container>img {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.nav__toggler {
    cursor: pointer;
    position: absolute;
    top: 9%;
    left: 3%;
    /* margin-left: 1rem; */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.1s ease-out;
    z-index: 100;
}

.nav.nav__expanded .bar-one {
    transform: rotate(-45deg) translate(-9px, 6px);
    margin: 8px 0;
}

.nav.nav__expanded .bar-two {
    opacity: 0;
    transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
    transform: rotate(45deg) translate(-8px, -8px);
    margin: 8px 0;
}


/* Banner */

.slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    height: 250px;
    /* width: 80vw; */
}

.slides__container {
    flex: 0 0 calc(100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100%);
    height: 100%;
    position: relative;
}

.right__arrow,
.left__arrow {
    display: none;
}

.slide__description {
    position: absolute;
    top: 60%;
    left: 20%;
}

.slide__title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.2rem;
}

.slide__button {
    margin-left: 4rem;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
    border: 1px solid white;
    color: white;
}

.line__slider {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 1px;
    border-radius: 2px;
    border: 1px solid #FA58A6;
}

.line.active {
    background-color: var(--color-primary);
}

.slides__container.slide-one {
    width: 100%;
    height: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('/assets/images/unsplash_HvkDYluePqw.png');
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:769px) {
    .slides {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        height: 400px;
    }
    .slides__container {
        flex: 0 0 calc(100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .right__arrow,
    .left__arrow {
        display: block;
        height: 100%;
        width: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .line__slider {
        display: none;
    }
    .slides__container.slide-one {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('/assets/images/unsplash_HvkDYluePqw.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .slide__description {
        position: absolute;
        top: 70%;
        left: 40%;
    }
    .slide__title {
        font-size: 3rem;
        color: white;
        margin-bottom: 2.5rem;
    }
    .slide__button {
        margin-left: 9rem;
        text-decoration: none;
        outline: 0;
        border: 0;
        cursor: pointer;
        padding: 1rem 3.8rem;
        text-align: center;
        font-size: 1.4rem;
        white-space: nowrap;
        border: 1px solid white;
        color: white;
    }
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(40px, auto);
    gap: 1rem;
    /* margin-bottom: 1rem; */
    background-color: #FBEFF2;
    position: relative;
    width: 100%;
}

.second-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-top: 2rem;
    background-color: #3D021E;
    position: relative;
}

.third-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* margin-bottom: 2rem; */
    background-color: #280114;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.fourth-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    background-color: #14010A;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.first-row .grid__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    overflow: hidden;
}

.first-row .grid__item>p {
    color: var(--color-primary);
    padding-left: 0.7rem;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-row .vector>img {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.second-row .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.second-row .grid__item>h4 {
    margin: 0.5rem 4rem;
    font-size: 1.5rem;
    color: white;
}

.second-row .left-section .footer__list>li {
    list-style-type: none;
    padding-top: 0.8rem;
    color: white;
    font-size: 1.3rem;
    margin-left: 5rem;
}

.second-row .right-section>p {
    color: white;
    margin: auto 4rem;
    font-size: 1.3rem;
}

.second-row .right-section>h4 {
    margin: 0.5rem 4rem;
    font-size: 1.5rem;
    color: white;
}

.second-row .middle-section .footer__list>li {
    list-style-type: none;
    padding-top: 0.8rem;
    color: white;
    font-size: 1.3rem;
    margin-left: 5rem;
}

.second-row .middle-section {
    text-align: left;
}

.second-row .grid__item .email__input {
    background-color: #3D021E;
    margin: 2rem 3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 1.4rem 1.1rem;
    width: 80%;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container .icon {
    display: inline;
    /* padding: 10px; */
    /* min-width: 40px; */
    /* width: 20px;
    height: 20px; */
    font-size: 2rem;
    color: #FBEFF2;
    position: absolute;
    left: 80%;
    top: 35%;
}

.checkbox-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding-left: 1.4rem;
    padding-top: 2rem; */
    padding: 2rem 1.7rem;
    /* text-align: justify; */
}

.checkbox-container .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 2.7rem;
    top: 2rem;
    height: 15px;
    width: 15px;
    background-color: #3D021E;
    border: 1px solid #FAF9F5;
}

.checkbox-container>label {
    margin-left: 0.5rem;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    padding-left: 3.4rem;
}

.third-row .grid__item {
    margin: 2rem;
}

.third-row .grid__item .left__side .loc-icon>i {
    color: #FA58A6;
    margin: 1rem 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.third-row .grid__item .left__side .phone-icon>i {
    color: #FA58A6;
    margin: 1rem 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.third-row .grid__item .left__side>span {
    color: #FA58A6;
    margin-left: 1.3rem;
    display: none;
}

.third-row .grid__item .left__side {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.7rem;
}

.third-row .right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    overflow: hidden;
}

.third-row .right-side>i {
    color: #FA58A6;
    font-size: 2.4rem;
}

.fourth-row .right-side {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.fourth-row .right-side>i {
    padding-right: 0.7rem;
}

.fourth-row .left-side>a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

@media screen and (min-width:768px) {
    .first-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        width: 100%;
        gap: 1rem;
    }
    .second-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-auto-rows: repeat(auto-fit, minimax(200px, 1fr)); */
        /* gap: 1rem; */
        /* margin: 2rem; */
        width: 100%;
        padding: 2rem;
    }
    .third-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    .fourth-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .first-row .grid__item {
        margin: 2rem 2rem;
    }
    .first-row .grid__item>p {
        color: var(--color-primary);
        padding-left: 0.7rem;
        font-size: 1.5rem;
    }
    .first-row .vector>img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0.7rem 1rem;
    }
    .second-row .right-section {
        margin-top: 2rem;
    }
    .second-row .left-section {
        margin-top: -3rem;
    }
    .second-row .middle-section {
        margin-top: -9rem;
    }
    .input-container .icon {
        display: none;
    }
    .second-row .grid__item .email__input {
        background-color: #3D021E;
        margin: 0.5rem 3rem;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        padding: 1.4rem 1.1rem;
        width: 80%;
    }
    .checkbox-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        /* padding-left: 1.7rem;
        padding-top: 2rem;
        padding-right: 1rempad */
        padding: 2rem 1.7rem;
    }
    .checkbox-container>label {
        margin-left: 0.5rem;
        color: white;
        font-size: 1.2rem;
        text-align: justify;
        /* padding: 2.4rem; */
    }
    .third-row .grid__item {
        margin: 2rem;
    }
    .third-row .grid__item .left__side .loc-icon>i,
    .third-row .grid__item .left__side .phone-icon>i {
        color: #FA58A6;
        margin: auto 1.3rem;
    }
    .third-row .grid__item .left__side>span {
        color: #FA58A6;
        margin-left: 1.3rem;
        display: inline;
    }
    .third-row .grid__item .left__side {
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 1.7rem;
    }
    .third-row .right-side {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2.4rem;
    }
    .third-row .right-side>i {
        color: #FA58A6;
        font-size: 2.4rem;
    }
}